@font-face{
	font-family: 'Clash Display';
	src: url('custom-fonts/clash-display/ClashDisplayLight.otf') format('opentype');
	font-weight: 100;
}

@font-face {
    font-family: 'MangoGrotesque';
    src: url('custom-fonts/humane/HumaneBold.woff2') format('woff2'),
         url('custom-fonts/humane/HumaneBold.otf') format('opentype');
    font-weight: bold;
}
