@font-face{
	font-family: 'Clash Display';
	src: local('Clash Display') url('custom-fonts/clash-display/ClashDisplayExtralight.otf') format('opentype');
	font-weight: normal;
}

@font-face{
	font-family: 'Clash Display';
	src: local('Clash Display') url('custom-fonts/clash-display/ClashDisplayLight.otf') format('opentype');
	font-weight: 100;
}

@font-face{
	font-family: 'humane';
	src: local('humane') url('custom-fonts/humane/humaneBold.otf') format('opentype');
	font-weight: bold;
}
