#bg-profile-picture{
	inline-size: 100vw;

	display: flex;
	justify-content: center;
}

#bg-profile-picture img{
	block-size: 90vh;
}

#right-down-logo{
	position: absolute;
	inset-block-end: 50px;
	inset-inline-end: 50px;
}