.title{
	text-transform: uppercase;
	text-align: center;

	font-family: 'Humane', 'arial', sans-serif;
	font-weight: bold;
	font-size: 15vh;
}

#workshop-smudge-bg{
	inline-size: 100%;
	block-size: 100vh;

	background: no-repeat top center url('bg/flyers_smudge_workshop_bg.png');
	background-attachment: fixed;
	background-size: cover;
}

#workshop-title{
	margin-block-start: 30px;
	inline-size: 100%;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

#workshop-title .line{
	--flyers-color:rgba(0, 208, 251, 1.0);
	--branding-color:rgba(255, 157, 0, 1.0);
	--renders-color:rgba(255,255,255, 1.0);
	background-color: var(--flyers-color);
	block-size: 1px;
	inline-size: clamp(100px, 15vh, 150px);
}

.selector-button{
	--square-size: 50px;
	inline-size: var(--square-size);
	block-size: var(--square-size);
	clip-path: circle(40% at center);
	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: clip-path 100ms;
}

.selector-button:hover{
	cursor: pointer;
	clip-path: circle(50% at center);
	transition: clip-path 100ms;
}

#workshop-selector{
	inline-size: 100%;
	margin-block-start: 20px;

	position: relative;

	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.side-selection img{
	block-size: 25vh;
}

#current-selection a{
	display: block;
}

#current-selection img{
	block-size: 50vh;

	transition: transform ease-out 200ms, filter ease-out 100ms;
}

#current-selection img:nth-child(n+2){
	display: none;
}

#current-selection img:hover{
	transform: translateY(-5%);
	filter: drop-shadow(0 10px 10px #ffffff);

	transition: transform ease-in 200ms, filter ease-in 100ms;
}

#current-selection-name{
	position: absolute;
	inset-block-end: -25px;
	inset-inline-end: clamp(0px, 5vw, 100px);
}