body{
	--smudge-bg: url('../../bg/flyers_smudge_workshop_bg.png');
	font-family: 'Clash Display', Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: white;

	background: no-repeat top center;
	background-image: var(--smudge-bg), url('../../bg/workshop_bg.png');
	background-attachment: fixed;
	background-size: cover;

	/*overflow: hidden;*/
	overflow-y: scroll;
	overflow-x: hidden;

	transition: background ease-in 200ms;
}

#nav-options .nav-option a[name="workshop"]{
	border-style: solid;
}

.title{
	text-transform: uppercase;
	text-align: center;

	font-family: 'Humane', 'arial', sans-serif;
	font-weight: bold;
	font-size: 15vh;
}

.header-title{
	inline-size: 100%;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.description{
	text-align: center;
	margin-block: 20px;
}

#workshop-title{
	/*inline-size: 100%;*/

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

#workshop-title .line{
	--flyers-color:rgba(0, 208, 251, 1.0);
	--branding-color:rgba(255, 157, 0, 1.0);
	--renders-color:rgba(255,255,255, 1.0);
	background-color: var(--flyers-color);
}

.header-title{
	margin-block-start: 30px;
}

.header-title .line{
	block-size: 1px;
	inline-size: clamp(100px, 15vh, 150px);
}

.selector-button{
	--square-size: 50px;
	inline-size: var(--square-size);
	block-size: var(--square-size);
	clip-path: circle(40% at center);
	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: clip-path 100ms;
}

.selector-button:hover{
	cursor: pointer;
	clip-path: circle(50% at center);
	transition: clip-path 100ms;
}

#workshop-selector{
	inline-size: 100%;
	margin-block-start: 20px;

	position: relative;

	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}


#current-selection{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

#current-selection .side-selection{
	pointer-events: none;
}

#current-selection .main-selection{
	pointer-events: all;
}

#current-selection .side-selection img{
	block-size: 25vh;
	opacity: 0.5;
	transition: opacity 500ms ease;
}

#current-selection .main-selection img{
	block-size: 50vh;
	opacity: 1;

	transition: transform 200ms ease-out, filter 200ms ease-out;
}

#current-selection .side-selection:hover{
	cursor: default;
}

#current-selection .main-selection img:hover{
	filter: drop-shadow(0 10px 10px #ffffff);
	transform: translateY(-5%);
	cursor: pointer;
}

#current-selection .side-selection:first-child{
	order: 0;
}

#current-selection .side-selection:nth-child(2){
	order: 1;
}

#current-selection .side-selection:nth-child(3){
	order: -1;
}


#current-selection a{
	display: block;
}

#current-selection-name{
	position: absolute;
	inset-block-end: -25px;
	inset-inline-end: clamp(0px, 5vw, 100px);
}